:root{
    --clr-bg: hsl(233, 47%, 7%);
    --clr-card: hsl(244, 38%, 16%);
    --clr-accent: hsl(277, 64%, 61%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-para: hsla(0, 0%, 100%, 0.75);
    --clr-stheads: hsla(0, 0%, 100%, 0.6);
}

body{
    font-size: 1rem;
    background-color: var(--clr-bg);
    color: var(--clr-white);
}

h1,h2{
    font-family: Inter;
}

p{
    font-family: 'Lexend Deca', sans-serif;
}

.container{
    width: 90%;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: var(--clr-card);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section{
    text-align: center;
    margin: 0px 2rem;
}

.hero-section .h-span{
    color: var(--clr-accent);
}

.hero-img{
    width: 100%;
    margin: 0px auto;
    -webkit-filter: invert(0%) sepia(9%) saturate(6005%) hue-rotate(245deg) brightness(75%) contrast(60%);
    filter: invert(0%) sepia(9%) saturate(6005%) hue-rotate(245deg) brightness(75%) contrast(60%)
}

.main-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.main-head{
    font-size: 2.5rem;
    line-height: 3rem;
}

.hero-section :nth-child(2){
    width: 70%;
    margin: 0px auto;
}

.main-para{
    opacity: 0.7;
    line-height: 1.5rem;
}

.stats-container{
    width: 50%;
    margin: 1rem auto;
}
.stats .stats-head{
    margin: 2rem 0.75rem auto;
}
.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(min-width: 760px){
    .hero-img{
        width: 80%;
        margin: 0px auto;
    }
}

